<template>
  <div class='about'>
    <FormValidation />
  </div>
</template>
<script>
import FormValidation from '@/components/FormValidation.vue'

export default {
  name: 'Home',
  components: {
    FormValidation
  }
}
</script>
