<template>
  <div>
    <button id="selectedrows" @click="getSelectedRows()">Get Selected Rows</button>
    <ag-grid-vue id="agGrid"
      style="width: 500px; height: 500px;"
      class="ag-theme-balham"
      :columnDefs="columnDefs"
      :rowData="rowData"
      :modules="modules"
      rowSelection="multiple"
      @grid-ready="onGridReady"
    ></ag-grid-vue>
  </div>
</template>

<script>
// import FormValidation from '@/components/FormValidation.vue'
// import HelloWorld from '@/components/HelloWorld.vue'
// import { AgGridVue } from "ag-grid-vue";

import { AgGridVue } from '@ag-grid-community/vue'
import { AllCommunityModules } from '@ag-grid-community/all-modules'
export default {
  name: 'Grid',
  data () {
    return {
      columnDefs: null,
      rowData: null,
      modules: AllCommunityModules,
      gridApi: null,
      columnApi: null
    }
  },
  components: {
    AgGridVue
  },
  methods: {
    onGridReady (params) {
      this.gridApi = params.api
      this.columnApi = params.columnApi
    },
    getSelectedRows () {
      const selectedNodes = this.gridApi.getSelectedNodes()
      const selectedData = selectedNodes.map(node => node.data)
      const selectedDataStringPresentation = selectedData.map(node => node.make + ' ' + node.model).join(', ')
      alert(`Selected nodes: ${selectedDataStringPresentation}`)
    }
  },
  beforeMount () {
    this.columnDefs = [
      {
        headerName: 'Make',
        field: 'make',
        sortable: true,
        filter: true,
        checkboxSelection: true
      },
      { headerName: 'Model', field: 'model', sortable: true, filter: true },
      { headerName: 'Price', field: 'price', sortable: true, filter: true }
    ]
    // this.rowData = [
    //   { make: 'Toyota', model: 'Celica', price: 35000 },
    //   { make: 'Ford', model: 'Mondeo', price: 32000 },
    //   { make: 'Porsche', model: 'Boxter', price: 72000 }
    // ]
    fetch(
      'https://raw.githubusercontent.com/ag-grid/ag-grid/master/grid-packages/ag-grid-docs/src/sample-data/smallRowData.json'
    )
      // fetch('https://api.myjson.com/bins/l5psn9')
      .then((res) => res.json())
      .then((rowData) => {
        this.rowData = rowData
      })
      .catch((error) => console.error(error))
  }
}
</script>
<style>
@import '../../node_modules/ag-grid-community/dist/styles/ag-grid.css';
@import '../../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css';
</style>
