<template>
  <div class="container mt-5 mb-5" style="width:500px">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
// import FormValidation from '@/components/FormValidation.vue'
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    // FormValidation
    HelloWorld
  }
}
</script>
