<template>
  <div class="card">
    <h3 class="card-header text-center">Registration Form</h3>
    <div class="card-body">
      <form id="registrationFrom" @submit.prevent="submitForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for>First Name</label>
            <input data-cy="firstname"
              type="text"
              class="form-control"
              v-model.trim="$v.firstname.$model"
              :class="{ 'is-invalid':$v.firstname.$error, 'is-valid':!$v.firstname.$invalid }"
            />
            <div class="valid-feedback">Your first name is valid!</div>
            <div class="invalid-feedback">
              <span v-if="!$v.firstname.required">Firstname is required.</span>
              <span
                v-if="!$v.firstname.minLength"
              >Firstname must have atleast {{$v.firstname.$params.minLength.min}} letters.</span>
              <span
                v-if="!$v.firstname.maxLength"
              >Firstname must have atleast {{$v.firstname.$params.maxLength.max}} letters.</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for>Last Name</label>
            <input data-cy="lastname"
              type="text"
              class="form-control"
              v-model.trim="$v.lastname.$model"
              :class="{ 'is-invalid':$v.lastname.$error, 'is-valid':!$v.lastname.$invalid }"
            />
            <div class="valid-feedback">Your last name is valid!</div>
            <div class="invalid-feedback">
              <span v-if="!$v.lastname.required">lastname is required.</span>
              <span
                v-if="!$v.lastname.minLength"
              >lastname must have atleast {{$v.lastname.$params.minLength.min}} letters.</span>
              <span
                v-if="!$v.lastname.maxLength"
              >lastname must have atleast {{$v.lastname.$params.maxLength.max}} letters.</span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label for>Age</label>
            <input data-cy="age"
              type="number"
              class="form-control"
              v-model.number.lazy="$v.age.$model"
              :class="{ 'is-invalid':$v.age.$error, 'is-valid':!$v.age.$invalid }"
            />
            <div class="valid-feedback">Your age is valid!</div>
            <div class="invalid-feedback">
              <span
                v-if="!$v.age.between"
              >Must be between {{$v.age.$params.between.min}} and {{$v.age.$params.between.max}}.</span>
            </div>
          </div>
          <div class="form-group  col-md-6">
            <label for>Username</label>
            <input data-cy="username"
              type="text"
              class="form-control"
              v-model.trim.lazy="$v.username.$model"
              :class="{ 'is-invalid':$v.username.$error, 'is-valid':!$v.username.$invalid }"
            />
            <div class="valid-feedback">Your username is valid!</div>
            <div class="invalid-feedback">
              <span v-if="!$v.username.required">username is required.</span>
              <span v-if="!$v.username.isUnique">This username is already registered.</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for>Email</label>
            <input data-cy="email"
              type="email"
              class="form-control"
              v-model.trim.lazy="$v.email.$model"
            />
            <!-- <div class="valid-feedback">Your email is valid!</div> -->
            <!-- <div class="invalid-feedback">
              <span v-if="!$v.email.required">email is required.</span>
              <span v-if="!$v.email.isUnique">This email is already registered.</span>
            </div> -->
          </div>
          <div class="form-group col-md-12">
            <label for>Password</label>
            <input id="password" data-cy="password"
              type="password"
              class="form-control"
              v-model.trim.lazy="$v.password.$model"
              :class="{ 'is-invalid':$v.password.$error, 'is-valid':!$v.password.$invalid }"
            />
            <div class="valid-feedback">Your password is valid!</div>
            <div class="invalid-feedback">
              <span v-if="!$v.password.required">password is required.</span><span
                v-if="!$v.password.minLength"
              > {{$v.password.$params.minLength.min}} characters minimum.</span>
            </div>
          </div>
          <div class="form-group col-md-12 form-check">
            <input type="checkbox" id="showpassword" class="form-check-input"
            @click="toggleShowPassword" v-model="showpassword">
            <label class="form-check-label" for="showpassword">Show Password</label>
          </div>
          <div class="form-group col-md-12">
            <label for>Repeat  Password</label>
            <input data-cy="repeatpassword"
              type="password"
              class="form-control"
              v-model.trim.lazy="$v.repeatpassword.$model"
              :class="{ 'is-invalid':$v.repeatpassword.$error, 'is-valid': (password !== '') ? !$v.repeatpassword.$invalid : '' }"
            />
            <div class="valid-feedback">Your passwords are identical!</div>
            <div class="invalid-feedback">
              <span v-if="!$v.repeatpassword.sameAsPassword">Passwords must be identical</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for>Phone Numner</label>
            <input data-cy="mobile"
              type="number"
              class="form-control"
              v-model.number.lazy="$v.phone.$model"
              :class="{ 'is-invalid':$v.phone.$error, 'is-valid':!$v.phone.$invalid }"
            />
            <div class="valid-feedback">Your phone number is valid!</div>
            <div class="invalid-feedback">
              <span v-if="!$v.phone.required">phone number is required.</span>
              <span v-if="!$v.phone.numeric">This phone number only numeric accepted.</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for>Website</label>
            <input data-cy="website"
              type="url"
              class="form-control"
              v-model.number.lazy="$v.url.$model"
              :class="{ 'is-invalid':$v.url.$error, 'is-valid':!$v.url.$invalid }"
            />
            <div class="valid-feedback">Your website is valid!</div>
            <div class="invalid-feedback">
              <span v-if="!$v.url.required">Website is required.</span>
              <span v-if="!$v.url.url">This website is invalid.</span>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Submit {{ submitstatus }}</button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { required, minLength, maxLength, between, sameAs, numeric, url } from 'vuelidate/lib/validators'
export default {
  name: 'FormValidation',
  data () {
    return {
      firstname: '',
      lastname: '',
      age: 0,
      username: '',
      email: '',
      password: '',
      repeatpassword: '',
      showpassword: false,
      phone: '',
      url: '',
      submitstatus: null
    }
  },
  validations: {
    firstname: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(10)
    },
    lastname: {
      required,
      minLength: minLength(5),
      maxLength: maxLength(10)
    },
    age: {
      between: between(15, 40)
    },
    username: {
      required,
      isUnique (value) {
        if (value === '') return true
        return new Promise((resolve) => {
          setTimeout(() => {
            resolve(typeof value === 'string' && value.length % 2 !== 0)
          }, 350 + Math.random() * 300)
        })
      }
    },
    email: {
      // required,
      // email,
      // isUnique (value) {
      //   if (value === '') return true
      //   // eslint-disable-next-line
      //   var email_regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      //   return new Promise((resolve) => {
      //     setTimeout(() => {
      //       resolve(email_regex.test(value))
      //     }, 350 + Math.random() * 300)
      //   })
      // }
    },
    password: {
      required,
      minLength: minLength(8)
    },
    repeatpassword: {
      sameAsPassword: sameAs('password')
    },
    phone: {
      required,
      numeric,
      minLength: minLength(12)
    },
    url: {
      required,
      url
    }
  },
  methods: {
    toggleShowPassword () {
      var show = document.getElementById('password')
      if (this.showpassword === false) {
        this.showpassword = true
        show.type = 'text'
      } else {
        this.showpassword = false
        show.type = 'password'
      }
    },
    submitForm () {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitstatus = 'Fail'
      } else {
        this.submitstatus = 'Success'
      }
    }
  }
}
</script>
<style scoped>
</style>
