<template>
  <div id="app"  class="container mt-5 mb-5" style="width:500px">
    <div id="nav">
      <!-- <router-link to="/">Home</router-link> | -->
      <!-- <router-link to="/about">About</router-link> -->
      <router-link to="/grid">Grid </router-link>
      <router-link to="/FormValidation" title="Registration Form With Validations"> Registration Form </router-link>

    </div>
    <router-view/>
  </div>
</template>
<script>
// import FormValidation from '@/components/FormValidation.vue'
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home'
}
</script>

<style>
  .router-link-active, a.hover {
    color: red;
  }
</style>
